@model SkiersLab.Models.Skier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Skier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.athlete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.athlete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.fis_code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
